<div class="container row" >
<section [ngStyle]="{'width': isClicked || isDoubleClicked? '75%' :'100%'} ">
    <h2 class="text-primary h4 my-5 text-center">list of units in {{_service.currentCategory}} category</h2>
    <!-- <button routerLink="/addunit" class="btn btn-success"> -->
        <p>notes: single click to view and double click to edit</p>
    <table class="table table-stripped">
        <thead>
            <th>Category</th>
            <th>describtion</th>
            <th>Caption</th>
        </thead>
        <tbody>
            <tr *ngFor="let i of data" (click)="intiatePreview(i.uomkey)" 
            (dblclick)="intiateedit(i.uomkey)">
                <td>{{i.uomeCateg}}</td>
                <td>{{i.uomeDesc}}</td>
                <td>{{i.uomeCaption}}</td>
                <td>
                    <!-- <button class="btn btn-success mx-2" ">edit</button> -->
                    <button class="btn btn-success mx-2" (click)="deleteunit(i.uomkey)">delete</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button (click)="toggleShow()" class="btn btn-success">
                        <span class="fa fa-plus"></span>
                        Add New Unit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="isShown">
        <form [formGroup]='unitForm' #myForm="ngForm" (ngSubmit)="addNewUnit(); myForm.resetForm()" class="row container-fluid ">
            <div class="row mb-3">
                <!-- <div class="col-4">
                        <select formControlName="uomeCateg" class="form-select form-select mb-3" aria-label=".form-select-lg example">
                            <option  disabled>choose category</option>
                            <option *ngFor="let n of allcategories" [ngValue]="n.umcsDescTx">{{n.umcsDescTx}}</option>
                          </select>
                    </div> -->
                <div class="col-4">
                    <label for="desc">Describtion</label>
                    <input placeholder="Describtion" id="desc" formControlName="uomeDesc" class="form-control">
                </div>
                <div class="col-4">
                    <label for="cap">Caption</label>
                    <input placeholder="Caption" id="cap" formControlName="uomeCaption" class="form-control">
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Add Now</button>
            </div>
        </form>

    </div>
</section>
<section [ngStyle]="{'width': isClicked || isDoubleClicked ? '25%' :'100%'}">
    <!-- <div *ngIf="isClicked;then preview else edit"> -->
    <div *ngIf="isClicked;then preview" >
    </div>
    <div *ngIf="isDoubleClicked;then edit" >
    </div>
    <ng-template #preview>
        <app-previewunit [unitid]="clickedUnitId"></app-previewunit>
    </ng-template>
    <ng-template #edit>
        <app-editunit [editid]="doubleClickedUnitId"></app-editunit>
    </ng-template>
</section>
<!-- <section [ngStyle]="{'width': isDoubleClicked? '25%' :'100%'}">
    <div *ngIf="isDoubleClicked;then edit">
    </div>
    <ng-template #edit>
        <app-editunit [editid]="doubleClickedUnitId"></app-editunit>
    </ng-template>
</section> -->
</div>