<h4 class="text-center blue">{{currentunit?.uomeDesc |uppercase}} conversion equations</h4>
<br>
<table class="table">
    <thead>
        <th>From unit</th>
        <th>To Unit</th>
        <th>Formula</th>
    </thead>
    <tbody>
        <tr *ngFor="let i of conversions">
            <td>{{currentunit?.uomeDesc}}</td>
            <td>{{i.toUomkey}}</td>
            <td>(number of {{currentunit?.uomeDesc}}){{i.conversionFormula}}</td>
        </tr>
    </tbody>
</table>
<br>
<br>

<form [formGroup]='unitForm' (ngSubmit)="addNewConversion()"
    class="row container-fluid ">
    <div class="row">

        <div class="col">
            <label for="desc">From unit</label>
            <input [value]="currentunit?.uomeDesc" id="desc" disabled  class="form-control">
        </div>
        <div class="col">
            <label for="tounit">To Unit</label>
            
            <select id="tounit" formControlName="toUomkey" class="form-select "
                aria-label=".form-select-lg example">
                <option selected disabled >choose unit</option>
                <option *ngFor="let n of allunits" [ngValue]='n.uomkey'>{{n.uomeDesc}}</option>
            </select>
        </div>

        <div class="col">
            <label for="cap">Equation string</label>
            <input placeholder="equation string" id="cap" formControlName="conversionFormula" class="form-control">
        </div>
    </div>
    <div class="">
        <button class="btn btn-primary">Add Now</button>
    </div>
</form>